// Variables
$bar-color: #fff;
$ball-color: #fff;
$bg-color: #008080;
$theme-foreground: #fff;
$theme-good: #c9ffdd;
$theme-neutral: #f5eadc;
$theme-bad: #ff8f72;
$font-primary: 'Josefin Slab',
serif;
$font-secondary: 'Quicksand',
sans-serif;
