.welcome-content {
    position: relative;
    text-align: center;
    color: white;
    overflow: auto;
    top: 50%;
    transform: translateY(-50%);
    .welcome-text {
        font-size: 4em;
    }
    .welcome-logo {
        width: 400px;
        height: 400px;
        background: url('../img/minion.jpg');
        background-size: cover;
        border-radius: 50%;
        border: 10px solid $theme-foreground;
        margin: 0 auto;
        background-position: 50%;
    }
}

@keyframes custom {
    0% {
        border-radius: 0 0 50% 0;
    }
    25% {
        border-radius: 50% 0 50% 0;
    }
    50% {
        border-radius: 50% 50% 0 50%;
    }
    75% {
        border-radius: 50% 0 50% 50%;
    }
    100% {
        border-radius: 50% 50% 50% 50%;
    }
}

.custom {
    animation-name: custom;
    animation-duration: 2s;
    animation-direction: alternate;
}
